.menu {
	text-align: center;
}

.menu li {
	list-style: none;
	display: inline;
	margin-left: 2em;
}

.menu li a {
	text-decoration: none;
}

.img-circle {
	border-radius: 50%;
	height: 150px;
	margin: 0 auto;
}

.container.main {
	height:	100vh;
}
.container.main.row {

}
